/* import css file */
@import url('normalize.css');

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  padding: 4em;
}

#app {
  width: 100%;
  height: 100%;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}
.--hover {
  cursor: grab;
}

.--active {
  cursor: grabbing;
}
