/* import css file */
@import url('normalize.css');

:root {
  --background-color: #000;
  --margin: 4em;
}

html, body {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  padding: var(--margin);
}

#app {
  width: 100%;
  height: 100%;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}
.--hover {
  cursor: grab;
}

.--active {
  cursor: grabbing;
}
